.canvas {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.roomPageContainer {
  overflow-y: hidden;
  overflow-x: hidden;
}

.scoreboard {
  overflow-y: scroll;
  border: 1px solid #000; /* Border for all sides */
  border-top: none; /* No border at the top */
}

.chat-container {
  overflow-y: auto;
  flex: 1 1 1px;
}
